@scope (main) {
  :scope {
    width: 100%;
    max-width: 1280px;
    margin: var(--space-xs) auto var(--space-md);
  }

  h2 {
    margin-bottom: var(--space-xs);
  }

  .price {
    font-weight: 500;
    color: var(--color-content);
  }
}

.lucide {
  display: inline;
}
